<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Template</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <link rel='stylesheet' href="~/css/styles.css">
  </head>
  <body>
      <div class = "container">
          <div class = "jumbotron">
              <h1>Simple Template H1</h1>
          </div>
          <div class = "row">
            <div class = "col-md-12">
            <h3> Results </h3>
            @foreach(var item in Model)
            {
              <h3>Contact @item.GetId()</h3>
              <h4>Name:@item.GetDesc()</h4>
              <hr></hr>

            }
            </div>
            </div>
      </div>
      <div id="footer"><br> Alexander Neumann Epicodus February 16th, 2018</div>
  </body>
